<div class="bg-white p-8 rounded-md w-full">
	<div class=" flex items-center justify-between pb-6">
    <h1 class="text-gray-600 font-semibold">課程列表</h1>
    <div class="flex items-center justify-between">
      <div class="lg:ml-40 ml-10 space-x-8">
        <% if current_admin %>
          <%= link_to "新增課程", new_course_path, class:"bg-blue-500 px-4 py-2 rounded-md text-white font-semibold"%>
        <% end %>

        <% if current_user || current_admin %>
          <%= link_to '修改密碼', edit_registration_path(:user), class:"px-4 py-2 rounded-md text-blue-500 border-2 border-blue-500 font-semibold"%>
          <%= link_to '登出', destroy_user_session_path, :method => :delete, class:"px-4 py-2 rounded-md text-blue-500 border-2 border-blue-500 font-semibold"%> 
        <% else %>
          <%= link_to '會員登入', new_session_path(:user), class:"bg-blue-500 px-4 py-2 rounded-md text-white font-semibold"%>
          <%= link_to '管理員登入', new_session_path(:admin), class:"bg-blue-500 px-4 py-2 rounded-md text-white font-semibold" %>
        <% end %>
      </div>
		</div>
	</div>
	<div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
            <tr class="border-b-2 border-gray-300 bg-gray-300">
              <th class="px-5 py-3 border-b-2 text-left text-xs font-semibold tracking-wider">名稱</th>
              <th class="px-5 py-3 border-b-2 text-left text-xs font-semibold tracking-wider">描述</th>
              <th class="px-5 py-3 border-b-2 text-left text-xs font-semibold tracking-wider">了解更多</th>
              <% if current_admin %>
                <th class="px-5 py-3 border-b-2 text-left text-xs font-semibold tracking-wider"></th>
                <th class="px-5 py-3 border-b-2 text-left text-xs font-semibold tracking-wider"></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @courses.each do |course| %>
              <tr class="border-b">
                <td class="pl-5 py-5 text-sm"><%= course.name %></td>
                <td class="px-5 py-5 text-sm"><%= course.describe %></td>
                <td><%= link_to '詳細內容',course_path(course.id), class:"text-sm transition duration-150 hover:bg-gray-400 font-semibold py-2 px-4"%></td>
                <% if current_admin %>
                  <th><%= link_to "修改", edit_course_path(course.id), class:"text-sm transition duration-150 hover:bg-gray-200 bg-gray-300 font-semibold py-2 px-4"%></th>
                  <th><%= link_to "刪除", course_path(course.id), method: 'delete', data: {confirm: '確認刪除?'}, class:"text-sm transition duration-150 hover:bg-gray-200 bg-gray-300 font-semibold py-2 px-4"%></th>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>