<h1>課程內容</h1>

<div>名稱：<%= @course.name %></div>
<div>主題：<%= @course.theme %></div>
<div>幣別：<%= @course.currency %></div>
<div>價格：<%= @course.price %></div>
<div>類型：<%= @course.type %></div>
<div>描述：<%= @course.describe %></div>
<div>效期：<%= @course.date %></div>